<!DOCTYPE html>

<!--suppress HtmlUnknownTarget -->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>Users</title>
    <style>
        table {
            width: 40%;
            background: white;
            color: rgb(64, 60, 82);
            border-spacing: 1px;
        }
        td, th {
            background: rgba(20, 200, 10, 0.45);
            padding: 5px;
        }
        h1 {
            color: rgba(8, 20, 59, 1);
        }
    </style>
</head>
<body>
<br>
<h1>Table with users</h1>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Age</th>
        <th>Email</th>
        <th>Update user</th>
        <th>Delete user</th>

    </tr>
    <tr th:each="users : ${user}">

        <td th:text="${users.getId()}"></td>
        <td th:text="${users.getName()}"></td>
        <td th:text="${users.getSurname()}"></td>
        <td th:text="${users.getAge()}"></td>
        <td th:text="${users.getEmail()}"></td>
        <td>
            <form  th:action="@{/user-update/{id}(id=${users.getId()})}" th:object="${user}">
                <button type="submit">Update</button>
            </form>
        </td>
        <td>
            <form  th:action="@{/{id}(id=${users.getId()})}" th:object="${user}">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
</table>
<br>
<button><a href="user-create">Create user!</a></button>
<br>
</body>
</html>